@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0px !important;
  padding: 0;
  font-family: "Inter, Inter Placeholder, sans-serif";
  background-color: rgb(26, 24, 26);
  animation: smoothScroll 2.5s ease-out;
}

::-webkit-scrollbar {
  width: 4px;
  height: 80px;
}

::-webkit-scrollbar-track {
  background: #222a35;
}

::-webkit-scrollbar-thumb {
  background: #575c66;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #626970;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.stick {
  position: sticky;
  top: 0;
}

.black-bg {
  background-color: rgb(26, 24, 26);
}

.black-tx {
  color: rgb(26, 24, 26);
}

.white-bg {
  background: rgb(235, 235, 235);
}

.white-tx {
  color: rgb(235, 235, 235);
}

.gray-tx {
  color: rgb(160, 160, 160);
}

.blend {
  color: rgb(235, 235, 235);
  mix-blend-mode: difference;
  position: fixed;
}

.bb {
  border-bottom: 0.5px solid rgb(122, 122, 122);
}

.br {
  border-right: 0.5px solid rgb(122, 122, 122);
}

.bl {
  border-left: 0.5px solid rgb(122, 122, 122);
}

.bt {
  border-top: 0.5px solid rgb(122, 122, 122);
}

.b-full {
  border: 0.5px solid rgb(122, 122, 122);
}

.border-div {
  background-color: rgb(122, 122, 122);
}

@keyframes smoothScroll {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
